@import "variables";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: $main-color-light;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

*, *:after, *:before{
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: 22px;


  &__select {
    margin-left: 10px;
  }

  &__drop-down {
    vertical-align: bottom;
    //display: flex;
    //align-items: center;
  }

  &--transparent {
    background-color: transparent;
  }
}

.light-theme {
  background-color: $main-color-light;
  color: $main-color-dark;

  .header {
    background-color: $light-accent;

    &--transparent {
      background-color: transparent;
    }
  }

  .form-holder {
    background-color: $popup-bg-light;
  }

  .form-title {
    &__text {
      color: $main-color-dark;
    }
  }

  .control-panel {

    &__button {
      background-color: #CDEBBF;
      color: #000000;
    }

  }

}

.dark-theme {
  color: $main-color-light;
  background-color: $main-color-dark;

  .header {
    background-color: $dark-accent;

    &--transparent {
      background-color: transparent;
    }
  }

  .form-holder {
    background-color: $popup-bg-dark;
  }

  .form-title {
    &__text {
      color: $main-color-light;
    }
  }

  .header {

    &__select {
      background-color: $popup-bg-dark;
      color: $main-color-light;
    }
  }

  .control-panel {

    &__button {
      background-color: #7B9C6B;
      color: #ffffff;
    }

  }
}


