@import "variables";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

input {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 10px 25px;
  font-size: 22px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);

  &__select {
    width: 100px;
    margin-left: 10px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  &__drop-down {
    margin-right: 20px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;

    label {
      text-transform: uppercase;
    }
  }

  &--transparent {
    background-color: transparent;
    box-shadow: none;
  }
}

.light-theme {
  background-color: $main-color-light;
  color: $main-color-dark;

  .header {
    background-color: $light-accent;

    &__select {
      background-color: $green-header;
    }

    &--transparent {
      background-color: transparent;
    }
  }

  .aside {
    .dropdown__select {
      background: $light-accent;

      &--option {
        background-color: $popup-bg-light;

        &:hover {
          background: $dark-accent;
        }
      }
    }

    .dropbtn {
      background-color: $light-accent;

      &:hover,
      &:focus {
        background-color: #cdebbf;
      }
    }
  }

  .form {
    &-buttons__button {
      background-color: $light-accent;
    }

    &-holder {
      background-color: $popup-bg-light;
    }

    &-title {
      &__text {
        color: $main-color-dark;
      }
    }
  }

  .control-panel {
    background-color: $popup-bg-light;

    &__button {
      @include button;
      background-color: #CDEBBF;
      color: #000000;
    }

    &__search {
      border: 1px solid $disabled;
    }
  }

  .table thead th {
    background-color: darken($popup-bg-light, 10%);
    border: 1px solid $dark_table-accent;

    &:last-child {
      border-right: 1px solid $dark_table-accent;
    }
  }

  tbody {
    background-color: $popup-bg-light;
  }

  .table__row {
    &:hover {
      background-color: darken($popup-bg-light, 6%);
    }

    &--active {
      background-color: darken($popup-bg-light, 10%);

      &:hover {
        background-color: darken($popup-bg-light, 10%);
      }
    }

    td {
      border: 1px solid #959595;
    }
  }

  .modal {
    &-container {
      background-color: $popup-bg-light;
    }

    &-label {
      color: $placeholder-text;
    }

    &-form {
      &__input {
        border: 1px solid $shade-border;
      }

      &__button {
        background-color: $light-accent;
      }

      &__error {
        color: $error-color;
      }
    }
  }
}

.dark-theme {
  color: $main-color-light;
  background-color: $main-color-dark;

  .header {
    background-color: $dark-accent;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);

    &--transparent {
      background-color: transparent;
    }

    &__select {
      background-color: $green-header;
      color: $main-color-dark;
    }
  }

  .form {
    &-holder {
      box-shadow: none;
    }

    &-inputs {
      &__input {
        background-color: $popup-bg-dark;
        color: $popup-bg-light;
        border: 1px solid;
      }
    }

    &-links__link {
      color: $popup-bg-light;
    }

    &-buttons__button {
      background-color: $dark-accent;
    }

    &-holder {
      background-color: $popup-bg-dark;
    }

    &-title {
      &__text {
        color: $main-color-light;
      }
    }
  }

  .control-panel {
    background-color: $popup-bg-dark;

    &__search {
      background-color: $popup-bg-dark;
      color: $popup-bg-light;
    }

    &__button {
      @include button;
      background-color: $dark-accent;
      color: $popup-bg-light;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
    }
  }

  .main {
    background-color: $popup-bg-dark;
  }

  .aside {
    background-color: $popup-bg-dark;

    .dropdown__select {
      background-color: $dark-accent;
      color: $popup-bg-light;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);

      &--option {
        background-color: $popup-bg-dark;
      }
    }
  }

  .aside .dropdown__select--option {
    option:hover {
      background-color: red !important;
    }
  }

  .table thead th {
    background-color: lighten($popup-bg-dark, 8%);
    color: $popup-bg-light;
    border: 1px solid $popup-bg-light;

    &:last-child {
      border-right: 1px solid $popup-bg-light;
    }
  }

  .table__container .table tbody {
    background-color: $popup-bg-dark;
  }

  .table__row {
    &:hover {
      background-color: lighten($popup-bg-dark, 10%);
      cursor: pointer;
    }

    &--active {
      background-color: lighten($popup-bg-dark, 12%);

      &:hover {
        background-color: lighten($popup-bg-dark, 12%);
      }
    }

    td {
      border: 1px solid #626262;
    }
  }

  #exitModal .modal-content,
  #deleteModal .modal-content, #clearModal .modal-content,
  .modal-container,
  .modal-form__input {
    background-color: $popup-bg-dark;
  }

  .modal-form__input {
    color: $lightgray;
    border: 1px solid;
  }

  .modal-form__button {
    background-color: $dark-accent;
  }
}
