@import "variables";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: $main-color-light;
  font-family: 'Roboto', sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 10px 25px;
  font-size: 22px;


  &__select {
    width: 100px;
    background-color: $green-header;
    margin-left: 10px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  &__drop-down {
    margin-right: 20px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;

    label {
      text-transform: uppercase;
    }
  }

  &--transparent {
    background-color: transparent;
  }
}

.light-theme {
  background-color: $main-color-light;
  color: $main-color-dark;

  .header {
    background-color: $light-accent;

    &--transparent {
      background-color: transparent;
    }
  }

  .form {
    &-buttons__button {
      background-color: $light-accent;
    }
  }

  .form-holder {
    background-color: $popup-bg-light;
  }

  .form-title {
    &__text {
      color: $main-color-dark;
    }
  }

  .control-panel {

    &__button {
      @include button;
      background-color: #CDEBBF;
      color: #000000;
    }

  }

}

.dark-theme {
  color: $main-color-light;
  background-color: $main-color-dark;

  .header {
    background-color: $dark-accent;

    &--transparent {
      background-color: transparent;
    }

    &__select {
      background-color: $green-header;
      color: $main-color-dark;
    }
  }

  .form {
    &-inputs {
      &__input {
        background-color: $popup-bg-dark;
        color: $popup-bg-light;
        border: 1px solid;
      }
    }

    &-links__link {
      color: $popup-bg-light;
    }

    &-buttons__button {
      background-color: $dark-accent;
    }

    &-holder {
      background-color: $popup-bg-dark;
    }

    &-title {
      &__text {
        color: $main-color-light;
      }
    }
  }

  .control-panel {
    background-color: $popup-bg-dark;

    &__search {
      background-color: $popup-bg-dark;
      color: $popup-bg-light;
    }

    &__button {
      background-color: $dark-accent;
      color: $popup-bg-light;
    }
  }

  .container {
    background-color: $popup-bg-dark;
  }

  .aside {
    .dropdown__select {
      background-color: $dark-accent;
      color: $popup-bg-light;

      &--option {
        background-color: $green-header;
      }
    }
  }

  .aside .dropdown__select--option {
    option:hover {
      background-color:  red!important;
    }
  }

  .table thead th {
    background-color: $dark_table-accent;
    color: $popup-bg-light;
    border: 2px solid;

    &:last-child {
      border-right: 2px solid;
    }
  }

  table tbody .table__row {
    &--active {
      color: $popup-bg-dark;
    }
    &:hover {
      color: $popup-bg-dark;
    }
  }

  #deleteModal .modal-content, #clearModal .modal-content,
  .modal-container,
  .modal-form__input {
    background-color: $popup-bg-dark;
  }

  .modal-form__input {
    color: $popup-bg-light;
  }

  .modal-form__button {
    background-color: $dark-accent;
  }
}
