@font-face {
  font-family: 'icomoon';
  src:  url('../../../public/fonts/icomoon.eot?u8qgez');
  src:  url('../../../public/fonts/icomoon.eot?u8qgez#iefix') format('embedded-opentype'),
  url('../../../public/fonts/icomoon.ttf?u8qgez') format('truetype'),
  url('../../../public/fonts/icomoon.woff?u8qgez') format('woff'),
  url('../../../public/fonts/icomoon.svg?u8qgez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e902";
}
.icon-clear-all:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-update:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
  font-size: 20px;
}
.icon-exit:before {
  content: "\e908";
  font-size: 20px;
}
.icon-search:before {
  content: "\e909";
  color: #565252;
}
.icon-show:before {
  content: "\e900";
  font-size: 30px;
  color: #b4b4b4;
}
.icon-hide:before {
  content: "\e901";
  font-size: 30px;
  color: #b4b4b4;
}
