.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;

  @media(min-width: 1440px) {
    width: 1400px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__drop {
    display: flex;
  }

  &__change {
    span {
      padding: 0 10px;
      cursor: pointer;
    }
  }
}

.easter-egg--button {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 3;
}

.easter-egg {

  &__img {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    &.active {
      display: block;
    }
  }
}

.page {

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    user-select: none;
    pointer-events: none;

    &--active {
      opacity: 1;
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 30px;

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;

    &__title {
      font-size: 1.15em;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    &__select {
      width: 150px;
      height: 40px;
      border: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      font-size: 1.1em;
      cursor: pointer;
      padding: 5px 10px;

      &--option {
        display: inline-block;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        text-align: left;
        cursor: pointer;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .dropbtn {
    width: 160px;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover,
    &:focus {
      border-radius: 20px 20px 0 0;
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
  padding: 60px 30px 0 35px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 12px 0 25px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 36px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    padding: 0 0;
    text-transform: uppercase;
    cursor: pointer;

    span {
      margin-right: 5px;

      &:before {
        font-size: 20px;
      }
    }
  }

  &__buttons-holder {
    display: flex;
    flex-direction: row;
  }

  &__search {
    width: 315px;
    height: 35px;
    padding-left: 30px;
    border-radius: 2px;
    margin-right: 20px;
    cursor: pointer;
    color: $main-color-dark;
    border: 1px solid $shade-border;

    &-holder {
      label {
        position: relative;

        span {
          position: absolute;
          top: 50%;
          left: 5%;
          transform: translate(-50%, -50%);

          &:before {
            font-size: 18px;
            color: $shade-border;
          }
        }
      }
    }
  }
}

.table__container {
  height: calc(100% - 100px);
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 48px;
    margin-bottom: 5px;
  }

  &::-webkit-scrollbar-thumb {
    height: 78px;
    border-radius: 2px;
    background-color: $lightgray;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $green-header;
  }

  .table {
    border-collapse: separate;
    width: calc(100% - 10px);
    border-spacing: 0 6px;

    thead {
      position: sticky;
      top: 0;

      th {
        border-right: none;
        padding: 8px 0;
        font-weight: 600;
      }
    }

    tbody {
      background-color: $popup-bg-light;
      .table__row {
        &:hover {
          cursor: pointer;
        }

        td {
          padding: 8px 0;
          text-align: center;
        }
      }
    }
  }
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  &-container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }

  &-content {
    width: 100%;
    position: relative;
    padding: 50px 0;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 20px;

    &.margin {
      margin-top: 60px;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &:before {
      font-size: 35px;
      color: #B4B4B4;
    }

    &:hover {
      &:before {
        color: $dark-accent;
      }
    }
  }

  &-label {
    margin-bottom: 10px;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &__input {
      width: 100%;
      height: 36px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 1.1em;
    }

    &__button {
      @include button;
      margin-top: 30px;
    }

    &__error {
      font-size: 1.1em;
      height: 20px;
      color: $error-color;
    }
  }
}

#modalUser {
  .modal {
    &-form {
      margin-top: -18px;

      &__button {
        margin-top: 10px;
      }

      &__input-holder {
        position: relative;
      }

      &__button-hide {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
        margin-top: -5px;
      }
    }

    &-title {
      margin-bottom: 0;
    }

    &-error {
      height: 20px;
      margin-left: 15px;
      line-height: 9px;
      color: $error-color;
    }
  }
}

#exitModal,
#deleteModal,
#clearModal {
  .modal {
    &-container {
      background: none;
    }

    &-content {
      background-color: white;
      padding: 40px;
    }

    &-button {

      &--save {
        @include button;
        display: block;
        width: 100%;
        background-color: $light-accent;
        margin: 80px 0 20px;
        border: none;
        padding: 15px;
        cursor: pointer;
      }

      &--cancel {
        @include button;
        display: block;
        width: 100%;
        background-color: $error-accent;
        border: none;
        padding: 15px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1120px) {
  .header {
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 7px 0 0;

    &__drop {
      flex-direction: column;

      &-down {
        margin: 0 0 10px 10px;
      }
    }

    &__change span {
      padding: 0 7px;
      cursor: pointer;
      margin-top: 24px;
      display: inline-block;
    }
  }

  .container {
    display: block;
  }

  .aside {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 10px 0 0;

    .dropdown {
      display: inline-block;
      margin: 0 auto 7px;
    }
  }

  .main {
    padding: 0 5px 0 0;

    .control-panel {
      top: 17px;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 10px 0;

      &__buttons-holder {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__button {
        margin: 11px;
      }

      &__buttons-holder {
        justify-content: center;
      }

      &__search {
        width: 290px;
        margin: auto;

        &-holder {
          padding: 10px 0 10px;
          margin: auto;
        }
      }
    }
  }

  .modal-container {
    width: 100%;
    padding: 0 15px;
    height: max-content;
  }

  #modalUser .modal-form__button-hide {
    left: 92%;
  }
}

@media only screen and (min-width: 580px) and (max-width: 1120px) {
  .header {
    padding: 10px 15px 0;
    justify-content: space-between;

    &__drop {
      flex-direction: row;
    }

    &__change span {
      padding: 0 7px;
      cursor: pointer;
      margin-top: 2px;
    }
  }

  .aside  {
    justify-content: flex-end;

    .dropdown {
      display: flex;
      align-items: baseline;
      margin: 10px;

      &__title {
        margin-right: 5px;
      }
    }
  }

  .main {
    .control-panel {
      top: 15px;

      &__button {
        margin: 10px 10px 10px 0;
      }

      &__search {
        width: 315px;
      }

      &__buttons-holder {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 610px) and (max-width: 1120px) {
  .modal-container {
    width: 600px;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1120px) {
  .main {
    .control-panel {
      flex-wrap: nowrap;
      align-items: baseline;

      &__search {
        width: 290px;
        height: 45px;
        margin-top: 9px;
        margin-right: 3px;

        &-holder {
          padding: 0;
          margin: auto;
        }
      }

      &__buttons-holder {
        justify-content: flex-start;
        margin-left: 3px;
      }
    }
  }
}

@media only screen and (min-width: 930px) and (max-width: 1024px) {
  .aside {
    padding-left: 20px;
  }

  .main {
    .control-panel {
      top: 0;

      &__search {
        height: 36px;
        margin-right: 20px;
        margin-top: 0;
      }

      &__buttons-holder {
        margin-left: 20px;
      }
    }
  }
}
