.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;

  @media(min-width: 1440px) {
    width: 1400px;
  }
}

.header{
  display: flex;
  justify-content: space-between;

  &__drop {
    display: flex;
  }

  &__change {
    span {
      padding: 0 10px;
      cursor: pointer;
    }
  }
}

.page {

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    user-select: none;
    pointer-events: none;

    &--active {
      opacity: 1;
    }
  }

}

.aside {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 30px;

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;

    &__title {
      font-size: 1.15em;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    &__select {
      background: #CDEBBF;
      width: 150px;
      height: 40px;
      border: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      font-size: 1.1em;
      cursor: pointer;

      &--option {
        background-color: #ffffff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        cursor: pointer;

        &:hover {
          background: $dark-accent;
          cursor: pointer;
        }
      }
    }

  }

  .dropbtn {
    width: 160px;
    background-color: #cdebbf;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #cdebbf;
      border-radius: 20px 20px 0 0;
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
  padding: 60px 30px 0 35px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 12px 0 25px;

  &__buttons-holder {
    display: flex;
    flex-direction: row;
  }

  &__button {
    width: 134px;
    height: 36px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;

    span {
      margin-right: 5px;

      &:before {
        font-size: 20px;
      }
    }
  }

  &__search-holder {
    label {
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%,-50%);

        &:before {
          font-size: 18px;
          color: #A1A1A1;
        }
      }
    }
  }

  &__search {
    width: 330px;
    height: 35px;
    padding-left: 30px;
    border: 1px solid #A1A1A1;
    border-radius: 2px;
    cursor: pointer;
  }

}

.table__container {
  height: calc(100% - 100px);
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 48px;
    margin-bottom: 5px;
  }

  &::-webkit-scrollbar-thumb {
    height: 78px;
    background-color: lightgray;
    border-radius: 2px;
    border: 1px solid #959595;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #b8ccae;
  }

  .table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 6px;

    thead {
      position: sticky;
      top: 0;

      th {
        border: 2px solid #000000;
        border-right: none;
        padding: 8px 0;
        font-weight: 600;

        &:last-child {
          border-right: 2px solid #000000;
        }
      }
    }
    tbody {
      .table__row {
        &:hover {
          cursor: pointer;
        }

        td {
          padding: 8px 0;
          text-align: center;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  &-container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    background-color: $popup-bg-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

  &-content {
    width: 100%;
    position: relative;
    padding: 50px 0;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 20px;

    &.margin {
      margin-top: 60px;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &:before {
      font-size: 35px;
      color: #B4B4B4;
    }

    &:hover {
      &:before {
        color: $dark-accent;
      }
    }
  }

  &-label {
    margin-bottom: 10px;
    color: #565656;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &__input {
      width: 100%;
      height: 36px;
      margin-bottom: 10px;
      border: 1px solid #B4B4B4;
      padding-left: 10px;
      font-size: 1.1em;
    }

    &__button {
      @include button;
      margin-top: 30px;
      background-color: $light-accent;
    }

    &__error {
      font-size: 1.1em;
      height: 20px;
      color: $error-color;
    }
  }
}

#modalUser {
  .modal {
    &-form {
      margin-top: -18px;

      &__button {
        margin-top: 10px;
      }

      &__input-holder {
        position: relative;
      }

      &__button-hide {
        margin-top: -5px;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);


        &:hover {

          &:before {
            color: #000000;
            cursor: pointer;
          }
        }
      }


    }

    &-title {
      margin-bottom: 0;
    }

    &-error {
      height: 20px;
      margin-left: 15px;
      line-height: 9px;
      color: $error-color;
    }
  }
}

#exitModal,
#deleteModal,
#clearModal {
  .modal {
    &-container {
      background: none;
    }

    &-content {
      background-color: white;
      padding: 40px;

    }

    &-button {

      &--save {
        @include button;
        display: block;
        width: 100%;
        background-color: $light-accent;
        margin: 80px 0 20px;
        border: none;
        padding: 15px;
        cursor: pointer;
      }

      &--cancel {
        @include button;
        display: block;
        width: 100%;
        background-color: $error-accent;
        border: none;
        padding: 15px;
        cursor: pointer;
      }
    }
  }
}
