@mixin button {
  height: 45px;
  border-radius: 2px;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;

  &:hover:not([disabled]) {
    filter: brightness(85%);
  }

  &[disabled] {
    background-color: #e3e3e3;
    color: #363636;
    cursor: default;
  }
}
