@mixin button {
  height: 45px;
  border-radius: 5px;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;

  &[disabled] {
    background-color: #9d9b9b;
    color: #363636;
    cursor: default;
  }
}
