@import "mixin";
@import "variables";

.form-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-holder {
  width: 550px;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 4px 4px 37px -12px rgba(34, 60, 80, 0.3);

  &--register {
    height: 560px;
  }

  &--login {
    height: 460px;
  }
}

.form-title {
  &__text {
    font-weight: 500;
    font-size: 2.6em;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
  }
}

.form-inputs {

  &__input-holder {
    position: relative;
  }

  &__label {
    color: #565656;
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
  }

  &__input {
    width: 100%;
    height: 40px;
    font-size: 1.3em;
    padding: 0 40px 0 10px;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:hover {

      &:before {
        color: #000000;
      }
    }
  }

  &__message {
    height: 30px;
    margin: 5px 0 5px 15px;
    font-size: 1em;
    color: $error-color;
  }

}

.form-buttons {
  &__button {
    @include button;
    width: 100%;
    font-size: 1.2em;
  }


}

.form-global-message {
  margin-top: 30px;
  text-align: center;
  color: $error-color;
  height: 30px;
}

.form-links {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;

  &__link {
    font-weight: 700;
    color: #000000;
  }
}

@media screen and (max-width: 678px) {

  .dark-theme {
    .header--transparent {
      background-color: $popup-bg-dark;
    }
  }

  .light-theme {
    .header--transparent {
      background-color: $popup-bg-light;
    }
  }

  .header--transparent {
    position: relative;

    .header__drop-down {
      font-size: 14px;
      text-align: center;
    }
  }

  .form-wrapper {
    display: block;
    height: auto;
  }

  .form-title {
    &__text {
      font-size: 24px;
    }
  }

  .form-inputs {
    &__message {
      height: 30px;
    }

    &__button {
      left: 94%;
      font-size: 25px;
    }
  }

  .form-holder {
    width: 100%;
    padding: 10px 20px;
    border-radius: 0;
  }
}

@media screen and (max-width: 430px) {
  .form-inputs {

    &__button {
      left: 93%;
      font-size: 25px;
    }
  }
}
