$main-color-light: #F1F1F1; //background only
$main-color-dark: #0D1117; //background only
$popup-bg-light: #FFFFFF;
$popup-bg-dark: #161B22;
$placeholder-text: #565656;
$shade-border: #B4B4B4;

$light-accent: #CDEBBF; //header, buttons
$dark-accent: #7B9C6B; //header, buttons
$error-accent: #EBBFBF; //button
$error-color: #D40B0B;

$header-color-light: #94C6AB;
$green-light: #C1EACF;
