$main-color-light: #DBEEDB;
$header-color-light: #94C6AB;
$green-light: #C1EACF;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $main-color-light;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $header-color-light;
  padding: 25px;
  font-size: 22px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 20px;

  @media(min-width: 1440px) {
    width: 1400px;
    margin: 20px auto;
  }

  .aside {
    display: flex;
    flex-direction: column;

    .dropdown {
      position: relative;
      display: inline-block;
      margin-bottom: 25px;

      &-content {
        display: none;
        position: absolute;
        background-color: #E0F9E9;
        min-width: 160px;
        border-radius: 0 0 20px 20px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        &.show {
          display: block;
        }

        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }

    .dropbtn {
      width: 160px;
      background-color: $green-light;
      padding: 16px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: $green-light;
        border-radius: 20px 20px 0 0;
      }
    }
  }


  .main {
    width: 100%;
    margin-left: 35px;

    &__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 3px solid #94C6AB;
    }

    button {
      background-color: #21614B;
      color: #FFFFFF;
      padding: 10px 15px;
      border-radius: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }

    input {
      background-color: #94C6AB;
      margin-left: 10px;
      padding: 12px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    table {
      width: 100%;
      background-color: #A0DDB6;
      border-collapse: collapse;
      margin: 10px 0 20px;

      td {
        border: 1px solid #52695A;
      }
    }
  }
}
